/* CSS Style for Google Homepage */

body {
  display: block;
  width: 100%;
  font-family: arial, sans-serif;
}

.toolbar {
  position: absolute;
  width: 100%;
  height: 30px;
  padding: 15px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.toolbar a {
  text-decoration: none;
}

.toolbar a:hover {
  text-decoration: underline;
}

.toolbar a:visited {
  color: black;
}

.toolbar img {
  padding-right: 15px;
  position: relative;
  top: 6px;
  opacity: .55;
}

.toolbar img:hover {
  opacity: 1;
  cursor: pointer;
}

.toolbar button:hover {
  cursor: pointer;
}

.leftbar {
  margin-top: 7px;
  display: flex;
  float: left;
  align-vertically: middle;
  padding-left: 10px;
}

.leftbar a {
  padding-left: 15px;
  opacity: .75;
}

.rightbar {
  display: flex;
  text-align: right;
  padding-right: 25px;
}

.rightbar a {
  padding-right: 15px;
}

#signin {
  color: #ffffff;
  background-color: rgb(66,133,244);
  padding: 7px 12px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid rgb(66,133,244);
  border-radius: 3px;
}

#signin:hover {
  text-decoration: none;
}

.main {
  position: relative;
  top: 43px;
  height:500px;
  text-align: center;
  width: 100%;
}

.logo {
  padding-top: 158px;
}

.logo:hover {
  cursor: pointer;
}

.searcharea {
  width: 584px;
  height: 44px;
  border: 1px solid rgb(223,225,229);
  border-radius: 23px;
  margin: auto;
  margin-top: 27px;
}

.searchbox {
  padding: 2px 4px;
  height: 40px;
  width: 576px;
}

.searcharea:hover {
  box-shadow: 0 0 8px rgb(223,225,229);
}

.searcharea:active {
  box-shadow: 0 0 8px rgb(223,225,229);
}

.searchinput {
  width: 516px;
  height: 44px;
  padding-top: 0 1px;
  border: none;
  outline: none;
  font-size: 16px;
  display: inline-block;
  position: relative;
  bottom: 15px;
  left: 8px;
  color: rgba(0,0,0,0.87);
}

.searchinput:focus {
  outline: none;
}

.micbox {
  height: 44px;
  width: 40px;
  display: inline-block;
}

.googlemic {
  height: 24px;
  width: 24px;
  padding: 8px 8px;
  display: inline-block;
}

.googlemic:hover {
  cursor: pointer;
}

.search {
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  cursor: pointer;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
  border-radius: 4px;
}

.search:hover {
  cursor: pointer;
  border: 1px solid #c6c6c6;
  color: black;
}

.buttons {
  padding-top: 18px;
}

.infobar {
  background-color: rgb(242,242,242);
  position: absolute;
  bottom: 1px;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  font-family: arial, sans-serif;
  font-size: 13px;
  border-top: 1px solid rgb(228,228,228);
  height: 81px;
}

.infobar a {
  text-decoration: none;
  color: rgb(95,99,104);
  line-height: 40px;
}

.infobar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.infobar a:visited {
  color: rgb(95,99,104);
}

.locationinfo {
  height: 41px;
  border-bottom: 1px solid rgb(228,228,228);
  width: 100%;
}

.location {
  padding-left: 26px;
  line-height: 40px;
  font-size: 15px;
  color: rgba(0,0,0,.54);
  text-align: left;
}

.infoleft {
  float: left;
  display: inline-block;
}

.infoleft a {
  padding-left: 27px;
}

.inforight {
  float: right;
  display: inline-block;
}

.inforight a {
  padding-right: 27px;
}
